.odd {
    background-color: rgb(255, 135, 145);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cool {
    font-size: 24px
}

#two {
    color: rgb(17, 0, 255);
    font-size: 36px
}

#four {
    background-color: rgb(147, 255, 147);
    font-size: 24px;
    font-weight: bold;
}